/* header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 100;
  }
  .navbar-brand{
  display: inline-block;
  width: 255px;
  margin-left: 10%;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  }
  .header_gnb{
  display: inline-block;
  /* float: right; */
  padding-top: 20px;
  margin-right: 20%;
  }
  .header_lnb{
  padding: 0 1rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 2rem;
  margin-right: 10%;
  cursor: pointer;
  }
  .header_lnb>a{
    color: #fff;
  }
  .header_lnb>a:hover{
  color: #111;
  transition: all 500ms;
  }
  .change_header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255, 0.6);
  color: #111;
  z-index: 100;
  }
  /* header */

  @media (max-width: 768px){
    .header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(255,255,255, 0.9);
      z-index: 110;
    }
  }